<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory</title>
</head>
<body>
<ul>
    {% for brand in brands %}
        <li>
            {{ brand.brand_name }}
            <img src="/media/{{ brand.brand_image }}">
        </li>
    {% empty %}
        <h1>No brands presents</h1>
    {% endfor %}
</ul>
</body>
</html>